@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
* {
  font-size: initial;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  display: block;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}
img {
  display: block;
  width: 100%;
}
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
body {
  min-height: 100dvh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  transition: all 0.5s ease-in-out;
  /* background-color: hsl(230, 35%, 7%); */
}
body:after {
  position: absolute;
  z-index: -1;
  content: url(images/home-bg.png) url(images/tech-bg.png)
    url(images/crew-bg.png) url(images/dest-bg.png);
}

#root {
  min-height: 100dvh;
  /* background-color: hsl(230, 35%, 7%); */
}

.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.25rem;
  width: 100%;
  @apply opacity-100 bg-secondary-500;
}
